.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slides-container {
    display: flex;
    overflow: hidden;
}

.slide {
    max-width: 100%;
    margin: 10px;
}

.slide img {
    width: 100%;
}

.img-carousel {
    border-radius: 15px;
    width: 150px;
    height: 150px;
    transition: transform 0.3s, border 0.3s;
}
.img-carousel:hover {
    width: 100%;
    transform: scale(1.1);
    cursor: pointer;
}